<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
    <add name="resalaEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-U5EM0KH\SQLEXPRESS;initial catalog=resala;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="resalaEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-U5EM0KH\SQLEXPRESS;initial catalog=resala;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="ResalaSystem.Properties.Settings.resalaConnectionString"
        connectionString="Data Source=DESKTOP-U5EM0KH\SQLEXPRESS;Initial Catalog=resala;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>